<!DOCTYPE HTML>
<html>
    <head>
        <title>StorMan - 2013</title>
        <meta charset="utf-8">
        <% IF section == 'dashboard' || section == 'maintenance' %><meta http-equiv="refresh" content="300"><% END %>
        <link rel="icon" type="image/ico" href="/favicon">
        <link rel="stylesheet" href="/css/tablesorter.css">
        <link rel="stylesheet" href="/css/isg-dancer-common.css">
        <link rel="stylesheet" href="/css/storman.css">
        <script src="/javascripts/jquery.js"></script>
        <script src="/javascripts/jquery.uitablefilter.js" type="text/javascript"></script>
        <script src="/javascripts/jquery.tablesorter.js"></script>
        <script src="/javascripts/jquery.tablesorter.parser-metric.js"></script>
        <script src="/javascripts/jquery.tablesorter.widgets.js"></script>
    </head>
    <body>
        <% INCLUDE header.tt %>
        <% INCLUDE navbar.tt %>
        <div id="content">
            <% content %>
            <div style="clear: both;"></div>
        </div>
    </body>
</html>

<script>
    $(window).load(function() {

        updateTime();

        function updateTime() {
            document.getElementById("LastUpdate").firstChild.nodeValue =
            new Date().toTimeString().substring(0, 8);
        }
    });

    function initializeTablesorter() {
        $('.quota').tablesorter({
            sortList: [[0,0]],
        });
        $('.scrub').tablesorter({
            sortList: [[0,1],[1,1]],
        });
        $(".hiddencolumn").hide();
    };

    function initializeEvents() {
        $('[data-toggleoption]').click(function() {
            var toggleOption = $(this).data('toggleoption');
            var eventType = $(this).data('eventtype');
            var mountPoint = $(this).data('mountpt');

            alert( mountPoint + " " + eventType );
            $.post('/maint/events' , {
                tooltyp_arg: toggleOption,
                event_arg: eventType,
                mount_arg: mountPoint });
        });
    }
</script>


