<!DOCTYPE HTML>
<html>
    <head>
        <title>StorMan - 2013</title>
        <meta charset="utf-8">
        <% IF section == 'dashboard' %><meta http-equiv="refresh" content="900"><% END %>
        <link rel="icon" type="image/ico" href="/favicon">
        <link rel="stylesheet" href="/css/isg-dancer-common.css">
        <link rel="stylesheet" href="/css/storman.css">
        <script src="/javascripts/jquery.js"></script>
    </head>
    <body>
        <% INCLUDE header.tt %>
        <% INCLUDE navbar.tt %>
        <div id="content">
            <% content %>
            <div style="clear: both;"></div>
        </div>
    </body>
</html>


