<!DOCTYPE HTML>
<html>
    <head>
        <title>StorMan</title>
        <meta charset="utf-8">
        <link rel="icon" type="image/ico" href="/favicon">
        <link rel="stylesheet" href="/css/isg-dancer-common.css">
        <link rel="stylesheet" href="/css/storman.css">
        <link rel="stylesheet" href="/css/highlight.min.css">
        <script src="/javascripts/jquery.min.js"></script>
        <script src="/javascripts/marked.min.js"></script>
        <script src="/javascripts/highlight.min.js"></script>
    </head>
    <body>
        <% INCLUDE header.tt %>
        <% INCLUDE navbar.tt %>
        <div id="content"></div>
    </body>
</html>
<script>
    $(window).load(function() {

        updateTime();

        function updateTime() {
            var d = new Date();
            document.getElementById("LastUpdate").firstChild.nodeValue =
            d.toTimeString().substring(0, 8) + " " + d.toLocaleDateString();
        }
    });

    marked.setOptions({
      highlight: function (code) {
        return hljs.highlightAuto(code).value;
      }
    });
    document.getElementById('content').innerHTML =
    marked('<% content %>');
</script>
